[submodule "ENTropy-Gateway"]
	path = ENTropy-Gateway
	url = git@github.com:DAD-group-1/ENTropy-Gateway.git
	branch = main
[submodule "ENTropy-Backend-MS-Users"]
	path = ENTropy-Backend-MS-Users
	url = git@github.com:DAD-group-1/ENTropy-Backend-MS-Users.git
	branch = main
